<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmigoPaperWorkProcessSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>


    <userSettings>
        <AmigoPaperWorkProcessSystem.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Style" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GridHeaderColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="GridHeaderFontColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="CustomerList" serializeAs="String">
                <value>http://localhost:6077/opt_38.asmx/getCustomerList?COMPANY_NAME=@COMPANY_NAME&amp;COMPANY_NAME_READING=@COMPANY_READING&amp;BILL_COMPANY_NAME=@BILL_COMPANY_NAME&amp;COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;ACCOUNT_NAME=@ACCOUNT_NAME</value>
            </setting>
            <setting name="CustomerUpdate" serializeAs="String">
                <value>http://localhost:6077/opt_38.asmx/UpdateCustomer</value>
            </setting>
            <setting name="GetBankTR" serializeAs="String">
                <value>http://localhost:6077/opt_31.asmx/ConfirmationOfTransfer?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="NonAmigo_BankTR" serializeAs="String">
                <value>http://localhost:6077/opt_33.asmx/ConfirmationOfTransfer_NonAmigo?strDTMID=@DTMID</value>
            </setting>
            <setting name="Amigo_BankTR" serializeAs="String">
                <value>http://localhost:6077/opt_32.asmx/ConfirmationOfTransfer_Amigo?strDTMID=@DTMID</value>
            </setting>
            <setting name="AmigoToNonAmigo" serializeAs="String">
                <value>http://localhost:6077/opt_32.asmx/ConvertAmigoToNonAmigo</value>
            </setting>
            <setting name="NonAmigoToAmigo" serializeAs="String">
                <value>http://localhost:6077/opt_33.asmx/ConvertNonAmigoToAmigo</value>
            </setting>
            <setting name="ConfirmOfComparisonResult" serializeAs="String">
                <value>http://localhost:6077/opt_34.asmx/ConfirmOfComparisonResult?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="GetUnmatchInvoice" serializeAs="String">
                <value>http://localhost:6077/opt_36.asmx/GetUnmatchInvoice?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="CancelAllocation" serializeAs="String">
                <value>http://localhost:6077/opt_35.asmx/CancelAllocation</value>
            </setting>
            <setting name="RefundProcess" serializeAs="String">
                <value>http://localhost:6077/opt_36.asmx/RefundProcess?SEQID=@SEQID</value>
            </setting>
            <setting name="GetDataForGrid37" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/GetDataFor37?TRANSACTION_TYPE=@TRANSACTION_TYPE&amp;FROM_YEAR_MONTH=@FROM_YEAR_MONTH&amp;TO_YEAR_MONTH=@TO_YEAR_MONTH&amp;FROM_STATUS_PLAN_DEPOSIT_YYMM=@FROM_STATUS_PLAN_DEPOSIT_YYMM&amp;TO_STATUS_PLAN_DEPOSIT_YYMM=@TO_STATUS_PLAN_DEPOSIT_YYMM&amp;FROM_STATUS_ACTUAL_DEPOSIT_DATE=@FROM_STATUS_ACTUAL_DEPOSIT_DATE&amp;TO_STATUS_ACTUAL_DEPOSIT_DATE=@TO_STATUS_ACTUAL_DEPOSIT_DATE&amp;DEPOSIT_RULE=@DEPOSIT_RULE&amp;WITH_OR_WITHOUT_PAYMENT=@WITH_OR_WITHOUT_PAYMENT&amp;BILL_SUPPLIER_NAME=@BILL_SUPPLIER_NAME</value>
            </setting>
            <setting name="UpdateInvoice" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/UpdateInvoice</value>
            </setting>
            <setting name="Get35_AccountingCSV" serializeAs="String">
                <value>http://localhost:6077/opt_35.asmx/GetAccountingCSV?strFromDate=@FromDate&amp;strToDate=@ToDate</value>
            </setting>
            <setting name="Schedule_Payment" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/Scheduled_Payment?TRANSACTION_TYPE=@TRANSACTION_TYPE&amp;FROM_YEAR_MONTH=@FROM_YEAR_MONTH&amp;TO_YEAR_MONTH=@TO_YEAR_MONTH&amp;FROM_STATUS_PLAN_DEPOSIT_YYMM=@FROM_STATUS_PLAN_DEPOSIT_YYMM&amp;TO_STATUS_PLAN_DEPOSIT_YYMM=@TO_STATUS_PLAN_DEPOSIT_YYMM&amp;FROM_STATUS_ACTUAL_DEPOSIT_DATE=@FROM_STATUS_ACTUAL_DEPOSIT_DATE&amp;TO_STATUS_ACTUAL_DEPOSIT_DATE=@TO_STATUS_ACTUAL_DEPOSIT_DATE&amp;DEPOSIT_RULE=@DEPOSIT_RULE&amp;WITH_OR_WITHOUT_PAYMENT=@WITH_OR_WITHOUT_PAYMENT&amp;BILL_SUPPLIER_NAME=@BILL_SUPPLIER_NAME</value>
            </setting>
            <setting name="Account_Receivable" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/Account_Receivable?TRANSACTION_TYPE=@TRANSACTION_TYPE&amp;FROM_YEAR_MONTH=@FROM_YEAR_MONTH&amp;TO_YEAR_MONTH=@TO_YEAR_MONTH&amp;FROM_STATUS_PLAN_DEPOSIT_YYMM=@FROM_STATUS_PLAN_DEPOSIT_YYMM&amp;TO_STATUS_PLAN_DEPOSIT_YYMM=@TO_STATUS_PLAN_DEPOSIT_YYMM&amp;FROM_STATUS_ACTUAL_DEPOSIT_DATE=@FROM_STATUS_ACTUAL_DEPOSIT_DATE&amp;TO_STATUS_ACTUAL_DEPOSIT_DATE=@TO_STATUS_ACTUAL_DEPOSIT_DATE&amp;DEPOSIT_RULE=@DEPOSIT_RULE&amp;WITH_OR_WITHOUT_PAYMENT=@WITH_OR_WITHOUT_PAYMENT&amp;BILL_SUPPLIER_NAME=@BILL_SUPPLIER_NAME&amp;FILE_NAME=@FILE_NAME</value>
            </setting>
            <setting name="DefaultDimentions" serializeAs="String">
                <value>1300, 640</value>
            </setting>
            <setting name="ManualAllocationComplete" serializeAs="String">
                <value>http://localhost:6077/opt_37.asmx/AllocationManualCompletion?ALLOCATE=@ALLOCATE&amp;SEQ_NO=@SEQ_NO&amp;COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;YEAR_MONTH=@YEAR_MONTH&amp;RECEIPT_ALLOCATION_DATE=@RECEIPT_ALLOCATION_DATE&amp;INVOICE_ALLOCATION_DATE=@INVOICE_ALLOCATION_DATE</value>
            </setting>
            <setting name="GetMatchInvoice" serializeAs="String">
                <value>http://localhost:6077/opt_35.asmx/GetMatchInvoice?strFromDate=@FromDate&amp;strToDate=@ToDate&amp;strNoReserved=@NoReserved</value>
            </setting>
            <setting name="ManualAllocation" serializeAs="String">
                <value>http://localhost:6077/opt_3B.asmx/do_ManualAllocation?COMPANY_NO_BOX=@COMPANY_NO_BOX&amp;YEAR_MONTH=@YEAR_MONTH</value>
            </setting>
        </AmigoPaperWorkProcessSystem.Properties.Settings>
    </userSettings>
</configuration>